@using System.Threading.Tasks
@using UI.Localization
@model UI.Models.OrganizationViewModel

<form asp-controller="Organization" asp-action="Update">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col s12 m8 push-m2">
            <div class="col s12 page-title">@OrganizationContent.OrganizationProfileText</div>
           
            <div class="input-field col s12 m6">
                <input asp-for="Name" />
                <label asp-for="Name"></label>
                <span asp-validation-for="Name" class="field-validation-error"></span>
            </div>
            <div class="input-field col s12 m6">
                <input asp-for="Email" />
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="field-validation-error"></span>
            </div>
            
            <div class="input-field col s12">
                <input asp-for="Url" />
                <label asp-for="Url"></label>
                <span asp-validation-for="Url" class="field-validation-error"></span>
            </div>
            
            <div class="input-field col s12">
                <input asp-for="Location" />
                <label asp-for="Location"></label>
            </div>
            
            <div class="col s12">
                <label>@Html.DisplayNameFor(m => m.IsoCountryCode)</label>
                <select class="browser-default" asp-for="IsoCountryCode" asp-items="@(new SelectList(Model.Countries, "Value", "Text"))"></select>
            </div>

            <div class="input-field col s12">
                <textarea asp-for="Description" rows="5" cols="50" class="materialize-textarea"></textarea>
                <label asp-for="Description"></label>
            </div>
            
            <div class="input-field col s12">
                @if (!ViewData.ModelState.IsValid)
                {
                    <div asp-validation-summary="ModelOnly" class="field-validation-error"></div>
                }
            </div>
            <div class="col s6 left-align">
                <a  class="btn secondary" asp-controller="Account" asp-action="Profile">@AccountContent.UserProfilePageTitle</a>
            </div>
            <div class="col s6 right-align">
                <input type="submit" class="btn primary" value="@LayoutContent.SaveChangesText" />
            </div>
        </div>
    </div>
</form>