@using UI.Localization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(ViewData["Title"] ?? LayoutContent.SiteTitleText)</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    </environment>
</head>
<body>
<header>
    <div class="jumbotron">
        <div class="code-snippets">
            <pre>
init : function() { 
    var owner = this; 
    this.promptElement = $("#lightbox"); 
    $("#purgeAllButton").on("click", function(e) {
        e.preventDefault(); 
        owner.purgeAllBtnClick(); 
    }); 
    $("#purgeButton").on("click", function(e) { 
        e.preventDefault();
        owner.purgeBtnClick(); 
    });
}
var ngAriaModule = angular.module('ngAria', ['ng']).
                        provider('$aria', $AriaProvider);
/**
* Internal Utilities
*/
var nodeBlackList = ['BUTTON', 'A', 'INPUT', 'TEXTAREA', 'SELECT', 'DETAILS', 'SUMMARY'];
var isNodeOneOf = function(elem, nodeTypeArray) {
  if (nodeTypeArray.indexOf(elem[0].nodeName) !== -1) {
    return true;
  }
};
/**
 * #ngdoc provider
 * #name $ariaProvider
 *
 * #description
 *
 * Used for configuring the ARIA attributes injected and managed by ngAria.
 *
 * ```js
 * angular.module('myApp', ['ngAria'], function config($ariaProvider) {
 *   $ariaProvider.config({
 *     ariaValue: true,
 *     tabindex: false
 *   });
 * });
 *```
 *
 * ## Dependencies
 * Requires the {#link ngAria} module to be installed.
 *
 */
function $AriaProvider() {
  var config = {
    ariaHidden: true,
    ariaChecked: true,
    ariaReadonly: true,
    ariaDisabled: true,
    ariaRequired: true,
    ariaInvalid: true,
    ariaValue: true,
    tabindex: true,
    bindKeypress: true,
    bindRoleForClick: true
  };
  /**
   * #gdoc method
   * #name $ariaProvider#config
   *
   * #param {object} config object to enable/disable specific ARIA attributes
   *
   *  - **ariaHidden** – `{boolean}` – Enables/disables aria-hidden tags
   *  - **ariaChecked** – `{boolean}` – Enables/disables aria-checked tags
   *  - **ariaReadonly** – `{boolean}` – Enables/disables aria-readonly tags
   *  - **ariaDisabled** – `{boolean}` – Enables/disables aria-disabled tags
   *  - **ariaRequired** – `{boolean}` – Enables/disables aria-required tags
   *  - **ariaInvalid** – `{boolean}` – Enables/disables aria-invalid tags
   *  - **ariaValue** – `{boolean}` – Enables/disables aria-valuemin, aria-valuemax and aria-valuenow tags
   *  - **tabindex** – `{boolean}` – Enables/disables tabindex tags
   *  - **bindKeypress** – `{boolean}` – Enables/disables keypress event binding on `div` and
   *    `li` elements with ng-click
   *  - **bindRoleForClick** – `{boolean}` – Adds role=button to non-interactive elements like `div`
   *    using ng-click, making them more accessible to users of assistive technologies
   *
   * #description
   * Enables/disables various ARIA attributes
   */
  this.config = function(newConfig) {
    config = angular.extend(config, newConfig);
  };
                    </pre>
        </div>
    </div>

    <div class="navigation-bar">
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">_Dev_Marketplace</a>
                <a href="#" data-activates="nav-mobile" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
                <ul id="nav-desktop" class="right hide-on-med-and-down">
                    <li><a href="#">@LayoutContent.StartAProjectMenuText</a></li>
                    <li><a href="#">@LayoutContent.LogInMenuText</a></li>
                    <li><a href="#">@LayoutContent.SignUpMenuText</a></li>
                </ul>
                <ul class="side-nav" id="nav-mobile">
                    <li><a href="#">@LayoutContent.StartAProjectMenuText</a></li>
                    <li><a href="#">@LayoutContent.LogInMenuText</a></li>
                    <li><a href="#">@LayoutContent.SignUpMenuText</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
    
<div class="promo valign-wrapper">
    <div class="search-bar">
        <div class="valign left search-wrapper">
            <input id="search" placeholder="@LayoutContent.FindAProjectText" type="text" />
        </div>

        <div class="valign left ml10 search-btn-wrapper">
            <a id="search-button" class="btn secondary btn-large" href="#">@LayoutContent.SearchButtonText</a>
        </div>
    </div>
</div>    

<main>
    @RenderBody()
</main>
<footer>

</footer>
<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/materialize.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="~/js/materialize.min.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

@RenderSection("scripts", required: false)
</body>
</html>
