@using UI.Localization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="~/content/favicon.ico">
    <title>@(ViewData["Title"] ?? LayoutContent.SiteTitleText)</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header>
        @if (IsSectionDefined("JumbotronSection"))
        {
            @RenderSection("JumbotronSection", false)
        }

        <div class="navigation-bar">
            <nav>
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo">_Dev_Marketplace</a>
                    <a href="#" data-activates="nav-mobile" class="button-collapse">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul id="nav-desktop" class="right hide-on-med-and-down">
                        <li><a href="#">@LayoutContent.StartAProjectMenuText</a></li>
                        <li><a asp-controller="Account" asp-action="SignIn">@LayoutContent.SignInMenuText</a></li>
                        <li><a asp-controller="Account" asp-action="Register">@LayoutContent.SignUpMenuText</a></li>
                        <account-user-info><li>@(await Html.PartialAsync("../Angular/LoaderPartial", "spinner-white-only"))</li></account-user-info>
                    </ul>
                    <ul class="side-nav" id="nav-mobile">
                        <li><a href="#">@LayoutContent.StartAProjectMenuText</a></li>
                        <li><a asp-controller="Account" asp-action="SignIn">@LayoutContent.SignInMenuText</a></li>
                        <li><a asp-controller="Account" asp-action="Register">@LayoutContent.SignUpMenuText</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    
    @if (IsSectionDefined("PromoSection"))
    {
        <div class="promo valign-wrapper">
            @RenderSection("PromoSection", false)
        </div>
    }
    <main>
        @RenderBody()
    </main>
    <footer></footer>
    <div class="sub-footer">
        <div class="container row">
            <div class="col s12">
                <span>@LayoutContent.SiteName @DateTime.UtcNow.Year</span>
            </div>
            <div class="col s12 licensing-info">
                <span>Some licensing information here</span>
            </div>
        </div>
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/js/materialize.js"></script>
        <script src="~/npm/core-js/shim.min.js"></script>
        <script src="~/npm/zone.js/zone.js"></script>
        <script src="~/npm/reflect-metadata/Reflect.js"></script>
        <script src="~/npm/systemjs/system.src.js"></script>
        <script src="~/systemjs.config.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
