@model UI.Models.ModalWindowPartialViewModel
<div id="@Model.Id"class="modal @(string.Join(" ", Model.Classes))">
    <div class="modal-header">
        <span class="modal-title hide-on-small-and-down ng-binding">
            @Model.Title
        </span>
        <div class="close-modal">
            <a href="" class="close-button" target="_self">
                <span class="icon-bar"></span>
            </a>
        </div>
    </div>
    <div class="modal-content">
        @Html.Raw(Model.Content)
    </div>
    @if (!string.IsNullOrWhiteSpace(Model.FooterContent))
    {
        <div class="modal-footer">
            @Html.Raw(Model.FooterContent)
        </div>
    }
</div>