@using System.Threading.Tasks
@using UI.Localization
@model UI.Models.SignInViewModel
@{
    ViewBag.Title = AccountContent.SignInText;
}
<section class="mt20">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <form asp-controller="Account" asp-action="SignIn">
                    @Html.AntiForgeryToken()
                    <div class="row paper">
                        <div class="col s12 m8 push-m2">
                            <div class="col s12 page-title">@AccountContent.SignInText</div>
                            <div class="input-field col s12">
                                <input asp-for="Email"/>
                                <label asp-for="Email"></label>
                                <span asp-validation-for="Email" class="field-validation-error"></span>
                            </div>
                            <div class="input-field col s12">
                                <input asp-for="Password"/>
                                <label asp-for="Password"></label>
                                <span asp-validation-for="Password" class="field-validation-error"></span>
                                <input asp-for="ReturnUrl" type="hidden"/>
                            </div>
                            <div class="input-field col s12 m3">
                                <a asp-controller="Account" asp-action="Register">@AccountContent.CreateAnAccountText</a>
                            </div>
                            <div class="input-field col s12 m9">
                                <a asp-controller="Account" asp-action="ForgotPassword">@AccountContent.ForgottenPasswordText</a>
                            </div>
                            <div class="col s6 push-s6 right-align">
                                <input type="submit" class="btn primary" value="@AccountContent.SignInText"/>
                            </div>
                            <div class="col s12">
                                @if (!ViewData.ModelState.IsValid)
                                {
                                    <div asp-validation-summary="ModelOnly" class="field-validation-error"></div>
                                }
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>